# Data PreProcessing - International Olympics Dataset

## 1. Load Modules

In [1]:
import numpy as np
import pandas as pd

import seaborn as sb

from warnings import filterwarnings
filterwarnings("ignore")

## 2. Load Data

In [2]:
df1 = pd.read_excel('sio_120Y_ori.xlsx', sheet_name=0)
df1.shape

(29216, 10)

In [3]:
df2 = pd.read_excel('sio_120Y_ori.xlsx', sheet_name=1)
df2.shape

(26, 3)

In [4]:
df3 = pd.read_excel('sio_120Y_ori.xlsx', sheet_name=2)
df3.shape

(201, 2)

## 3. PreProcess Dataset

### 3.1 Merge Data

In [5]:
df = pd.merge(df1, df2, how='inner', on='City')

In [6]:
df = pd.merge(df, df3, how='inner', on='NOC')

### 3.2 Rename, Drop, Re-order Dataset

In [7]:
df = df.rename(columns={'Edition_x':'Edition', 'Country_x':'Country', 'Country_y':'Team'})
df = df.drop(columns=['Edition_y'])

In [8]:
df.columns.values.tolist()

['City',
 'Edition',
 'Sport',
 'Discipline',
 'Athlete',
 'NOC',
 'Gender',
 'Event',
 'Event_gender',
 'Medal',
 'Country',
 'Team']

In [9]:
df = df[['Edition','Country','City','Sport','Discipline','Athlete','Team','NOC','Gender','Event','Event_gender','Medal']]

### 3.3 Data Info

In [10]:
df.head()

,Edition,Country,City,Sport,Discipline,Athlete,Team,NOC,Gender,Event,Event_gender,Medal
0,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,100m freestyle,M,Gold
1,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,100m freestyle,M,Gold
2,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,1200m freestyle,M,Gold
3,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,1200m freestyle,M,Gold
4,1896,Greece,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",Hungary,HUN,Men,100m,M,Bronze

In [11]:
df.shape

(28827, 12)

In [12]:
df.isna().sum()

Edition         0
Country         0
City            0
Sport           0
Discipline      0
Athlete         0
Team            0
NOC             0
Gender          0
Event           0
Event_gender    0
Medal           0
dtype: int64

In [13]:
df.duplicated().sum()

6705

In [14]:
df = df.drop_duplicates()

In [15]:
df.duplicated().sum()

0

## 4. Save and Load Dataset

In [16]:
df.to_csv('sio_120Y_final.csv', index=False)

In [17]:
df = pd.read_csv('sio_120Y_final.csv')
df.shape

(22122, 12)

In [18]:
df.head()

,Edition,Country,City,Sport,Discipline,Athlete,Team,NOC,Gender,Event,Event_gender,Medal
0,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,100m freestyle,M,Gold
1,1896,Greece,Athens,Aquatics,Swimming,"HAJOS, Alfred",Hungary,HUN,Men,1200m freestyle,M,Gold
2,1896,Greece,Athens,Athletics,Athletics,"SZOKOLYI, Alajos",Hungary,HUN,Men,100m,M,Bronze
3,1896,Greece,Athens,Athletics,Athletics,"DANI, Nandor",Hungary,HUN,Men,800m,M,Silver
4,1896,Greece,Athens,Athletics,Athletics,"KELLNER, Gyula",Hungary,HUN,Men,marathon,M,Bronze

## 5. Analysis

In [19]:
grp_y_gen = df.groupby(['Edition','Gender']).size()

In [20]:
grp_y_gen

Edition  Gender
1896     Men        145
1900     Men        469
         Women        7
1908     Men        762
         Women       15
1912     Men        833
         Women       28
1920     Men       1246
         Women       42
1924     Men        798
         Women       51
1928     Men        587
         Women       95
1932     Men        551
         Women       60
1936     Men        779
         Women       76
1948     Men        690
         Women       88
1952     Men        626
         Women       93
1960     Men        502
         Women       64
1964     Men        521
         Women      114
1972     Men        533
         Women      110
1976     Men        514
         Women      150
1980     Men        396
         Women      107
1984     Men        745
         Women      364
1988     Men        557
         Women      284
1992     Men        946
         Women      472
1996     Men       1049
         Women      746
2000     Men       1092
         Women      851
2004     Men       1087
         Women      872
2008     Men       1094
         Women      911
dtype: int64

In [21]:
grp_y_med = df.groupby(['Edition','Medal']).size()

In [22]:
grp_y_med

Edition  Medal
1896     Bronze     38
         Gold       62
         Silver     45
1900     Bronze    133
         Gold      160
                  ...
2004     Gold      636
         Silver    655
2008     Bronze    680
         Gold      664
         Silver    661
Length: 69, dtype: int64